.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {  
    0% {
      transform: scale(0.99);
    }
    50% {
      transform: scale(1.01);
    }  
    100% {
      transform: scale(1);
    }
  }